nav {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 120px;
  color: white;
  position: sticky;
  top: 40px;
}
.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  font-size: 17px;
}
#ex {
  border-radius: 50px;
  padding: 10px 38px;
  background-color: ghostwhite;
  color: rgb(39, 38, 38);
  cursor: pointer;
}
